img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.headline {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $primary;
    font-weight: bold;

    &::after, &::before {
        display: inline-block;
        content: "";
        width: 100px;
        height: 2px;
        background-color: #ccc;
        margin: 0 20px;
    }  
}



.category-container {
    & .home-category:hover {
        opacity: 0.8;
    }

    & .home-category-load {
        background-color: rgba(0, 0, 0, 0.4);
    }
}