img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}


.headline {
    margin-bottom: 20px;

    &::after, &::before {
        display: inline-block;
        content: "";
        position: absolute;
        width: 100px;
        height: 2px;
        background-color: #ccc;
        top: 50%;
        transform: translateY(-50%);
    }
    
    &::after {
        left: 100px;
    }
    
    &::before {
        right: 100px;
    }
}